<mat-form-field>
    <input matInput [(ngModel)]="linha.descricao" placeholder="descricao">
</mat-form-field>

<mat-form-field>
    <input matInput [(ngModel)]="linha.codigoLinha" placeholder="codigoLinha">
</mat-form-field>

<mat-form-field>
    <mat-select [(ngModel)]="linha.situacao" placeholder="situacao">
        <mat-option value=1>Ativo</mat-option>
        <mat-option value=0>Inativo</mat-option>
    </mat-select>
</mat-form-field>

<button mat-raised-button (click)="addLineItem()">Add</button>

<mat-table [dataSource]="dataSource" matSort>
    
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
        <mat-cell *matCellDef="let item" data-label="id" class="custom-cell">{{item.id}}</mat-cell>
    </ng-container>

    <!---->

    <ng-container matColumnDef="codigoLinha">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Código Linha</mat-header-cell>
        <mat-cell *matCellDef="let item" data-label="codigoLinha" class="custom-cell">{{item.codigoLinha}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descricao">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</mat-header-cell>
        <mat-cell *matCellDef="let item" data-label="descricao" class="custom-cell">{{item.descricao}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="situacao">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Situação</mat-header-cell>
        <mat-cell *matCellDef="let item" data-label="situacao" class="custom-cell">{{item.situacao}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></mat-row>
</mat-table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>