<mat-form-field>
    <input matInput [(ngModel)]="descricao" placeholder="descricao">
</mat-form-field>

<mat-form-field>
    <input matInput [(ngModel)]="codigoLinha" placeholder="codigoLinha">
</mat-form-field>

<mat-form-field>
    <mat-select [(ngModel)]="situacao" placeholder="situacao">
        <mat-option value=1>Ativo</mat-option>
        <mat-option value=0>Inativo</mat-option>
    </mat-select>
</mat-form-field>

<button mat-raised-button (click)="addLineItem()">Add</button>

<table mat-table [dataSource]="dataSource" matSort>
    
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let item" data-label="id" class="custom-cell">{{item.id}}</td>
    </ng-container>

    <!---->

    <ng-container matColumnDef="codigoLinha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Código Linha</th>
        <td mat-cell *matCellDef="let item" data-label="codigoLinha" class="custom-cell">{{item.codigoLinha}}</td>
    </ng-container>

    <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
        <td mat-cell *matCellDef="let item" data-label="descricao" class="custom-cell">{{item.descricao}}</td>
    </ng-container>

    <ng-container matColumnDef="situacao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Situação</th>
        <td mat-cell *matCellDef="let item" data-label="situacao" class="custom-cell">{{item.situacao}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
